<section class="sub-header">
  <h2>
    Software engineer with over <br /><strong>6 years</strong>
    of professional experience
  </h2>
</section>

<section class="language-images">
  <ul class="inline">
    <li class="logo">
      <a href="http://facebook.github.io/react/">
        <img width=100 height=96 src="assets/images/react.png" srcset="
            assets/images/react.png 1x,
            assets/images/react@2x.png 2x" />
      </a>
    </li>
    <li class="logo logo-square-sm">
      <img width=64 height=64 src="assets/images/html5.png" srcset="
          assets/images/html5.png 1x,
          assets/images/html5@2x.png 2x" />
    </li>
    <li class="logo logo-square-sm">
      <img width=64 height=64 src="assets/images/css3.png" srcset="
          assets/images/css3.png 1x,
          assets/images/css3@2x.png 2x" />
    </li>
  </ul>
</section>

<section class="summary">
  <ul class="inline">
    <li>
      <h3>Experience</h3>
      <p>
        Dan started programming in high school, continued through college,
        built amazing business critical tools at Apple, and is now working
        at Shutterfly.
      </p>
      <p>
        {{#link-to 'experience'}}
          Learn more
          <i class="fa fa-angle-right"></i>
        {{/link-to}}
      </p>
    </li>
    <li>
      <h3>Focus</h3>
      <p>
        After many years of full stack experience, Dan has more recently been
        focussing on front-end engineering.
      </p>
    </li>
    <li>
      <h3>Passion</h3>
      <p>
        Dan is passionate about building products that people love to use
        powered by maintainable, extendable, and robust code.
      </p>
    </li>
  </ul>
</section>
