@import 'variables';

$small: 64px;

.logo {
  position: relative;
  width: 100px;
  height: 96px;

  &.logo-square-sm > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$small / 2;
    margin-left: -$small / 2;
  }
}
